.navbar {
    position: fixed;
    top: 0 !important;
    width: 100% !important;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 0, 20px;
    margin-left: auto;
    
  }
  
  .navbar a {
    color:white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: flex-end;
  }
  
  .navbar a:hover {
    background-color:turquoise;
  }
  .logo{
    color: #66cccc;
    width: 70px;
    border-radius: 50px;
  }
  .nav-link.active {
    text-decoration: underline;
    text-decoration-color:white;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    font-weight: bold;
}
